
//Stuff for the table sizer boxes
table {
  font-family: "Helvetica", "Lucida Sans", "Lucida Sans Unicode", "Luxi Sans", Tahoma, sans-serif;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
  border-collapse: collapse;
  border-spacing: 0;
}
table {
  margin: auto;
}

td, th {
    color: #1287b1;
    padding: 7px;
    text-align: center;
    border: 1px solid #bbe6fb;
    border-radius: 5px;
}
th {
    background-color: #1287b1;
    color: #d3effc;
}

.centerDiv table{
    color:white;
}

.centerDiv{
    position:absolute;
    top:150px;
    display: none;
}

.ui-page{
    padding: 5%;
    width: 90%;
}

.ui-mobile{
    width:90%
}

insert, .ui-input-text{
    width:250px;
    display:inline-block;
}

